body {
  line-height: 1;
  font-family: "Roboto", "Arial", sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

main {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

header {
  background-color: royalblue;
  grid-column: 1 / 7;
}

footer{

}

.feat {
  border: 1px solid #212121;
}

.art-1 {
  background-color: chartreuse;
}

.art-2 {
  background-color: sienna;
}

.art-3 {
  background-color: slateblue;
}

.art-4 {
  background-color: slategrey;
}

/* nav {
  background-color: rosybrown;
  flex: 2;
}

header nav ul {
  background-color: seagreen;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto;
}

header nav ul li {
  background-color: sienna;
  list-style: none;
  width: 14.27%;
  height: 250px;
}

.navigation-container {
  background-color: slateblue;
  padding: 0 2em;
  display: flex;
  flex-flow: row;
}

.logo {
  flex: 1;
  width: 150px;
  background-color: springgreen;
  height: 250px;
}

.search-bar {
  float: 1;
  width: 150px;
  background-color: teal;
  height: 250px;
} */

.latest-post {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.footer-list {
  display: flex;
}

.item-footer {
  padding: 10px;
}

.featured-articles {
  background-color: seagreen;
  grid-column: 1 / 7;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.more-articles {
  background-color: chartreuse;
  grid-column: 1 / 7;
  padding: 0;
  margin: 0;
}

.post {
  border: 1px solid #212121;
}

.post-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.post-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.post-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.post-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.smashing-members {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.post-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.post-6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.post-7 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.post-8 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.smashing-tv {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.ethical-design-book {
  grid-column: 1 / 7;
  background-color: rgb(10, 103, 190);
}

.community-links {
  grid-column: 1 / 7;
  background-color: rgb(148, 195, 240);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.auth1 {
  grid-column: 1/ 3;
  grid-row: 1 / 2;
  background-color: darkgoldenrod;
}

.auth2 {
  grid-column: 1/ 2;
  grid-row: 2/ 3;
  background-color: rgb(164, 226, 48);
}

.auth3 {
  grid-column: 2/ 3;
  grid-row: 2/ 3;
  background-color: rgb(11, 65, 116);
}

.auth4 {
  grid-column: 1/ 2;
  grid-row: 3/ 4;
  background-color: rgb(150, 66, 45);
}

.auth5 {
  grid-column: 2/ 3;
  grid-row: 3/ 4;
  background-color: rgb(56, 4, 58);
}

.auth6 {
  grid-column: 1/ 2;
  grid-row: 4 / 5;
  background-color: rgb(38, 109, 91);
}

.auth7 {
  grid-column: 2/ 3;
  grid-row: 4/ 5;
  background-color: rgb(80, 105, 66);
}

.community-links .more-articles {
  grid-column: 1/ 3;
  grid-row: 5/ 6;
  background-color: rgb(18, 37, 7);
}

.design-systems {
  grid-column: 1 / 7;
  background-color: cornsilk;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.curated-posts {
  grid-column: 1 / 7;
  background-color: deepskyblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.smashing-newsletter {
  grid-column: 1 / 7;
  background-color: peru;
}

