body {
  line-height: 1;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

main {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 175px 742px 480px 2808px 1084px 1773px 397px 1904px 653px;
}

header {
  background-color: red;
  grid-area: ;
}


/* nav {
  background-color: rosybrown;
  flex: 2;
}

header nav ul {
  background-color: seagreen;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto;
}

header nav ul li {
  background-color: sienna;
  list-style: none;
  width: 14.27%;
  height: 250px;
}

.navigation-container {
  background-color: slateblue;
  padding: 0 2em;
  display: flex;
  flex-flow: row;
}

.logo {
  flex: 1;
  width: 150px;
  background-color: springgreen;
  height: 250px;
}

.search-bar {
  float: 1;
  width: 150px;
  background-color: teal;
  height: 250px;
} */
